<div class="container-fluid"
    style="display: flex; justify-content:space-between; align-items:center; padding:3rem">
    <div class="text-center primary">
        <h4><i>productos faker: prueba de test</i></b></h4>
    </div>
    <div class="text-center">
        <span>Acceso a la Base de Datos</span>
        <div>
            <button class="btn btn-primary" onclick="location.href='/registro'">registro</button>
            <button class="btn btn-success" onclick="location.href='/login'">login</button>
        </div>
    </div>

</div>

{{> faker}}