<div class="containerIngreso text-center my-4 mt-5">

  <div class="container text-center p-4">
    <h4>Le damos la Bienvenida, </h4>
    <h2 class="text-light"><b> <i>{{nombre}}{{username}} {{usuario.username}}</i></b></h2>
 

  <h4>Ahora puede acceder a ver los productos!</h4>
  </div>
  <div class="m-5" >
    <button class="btn btn-success p-2 m-4" onclick="location.href='/productos'">PRODUCTOS</button>

  <button class="btn btn-danger p-2 m-4" onclick="location.href='/logout'">SALIR DE SESION</button>
  </div>

</div>