<div class="container text-center mt-5 my-3 p-5 text-light">
  <div>
    <h3>Error al ingresar: regrese al Login</h3>
    <div class="mt-5 my-3">
      <h4><i>tips: regístrese primero o revise su contraseña</i></h4>
    </div>
    <button
      class="btn btn-warning my-5"
      onclick="location.href='/login'"
    >VOLVER</button>
  </div>
</div>